Package: capsulator
Version: 1-1
Depends: libc, openvswitch-common
Provides: 
Source: package/capsulator
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: x86
Installed-Size: 5769
Description:  Capsulator is a user-space program which 
 can be used to transparently connect networks. 
 In particular, it can make an arbitrary number 
 of links act as if they were connected to a hub. 
